<div class="details__wrapper">
    <h1>{{project.name}}</h1>

    <p>{{project.description}}</p>

    <div class="cards__container projectTask__container">
        <div *ngFor="let item of project.tasks" class="card">
            <h2>{{item.title}}</h2>
            <p class="task__description">{{item.description}}</p>
            <div class="btns__container">
            <button class="btn-settings btn-detalles" (click)="detailTask(item.id)">Detalles</button>
            <button class="btn-settings btn-eliminar" (click)="delete(item.id)">Eliminar</button>
        </div>
        </div>
    </div>
</div>
