<div class="dashboard-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>Project Management</h2>
            <p>Panel de Administración</p>
        </div>

        <nav class="sidebar-menu">
            <div class="menu-label">Principal</div>
            <a routerLink="stats" class="menu-item">
                <i class="fas fa-chart-bar"></i>
                <span>Inicio</span>
            </a>

            <a routerLink="projects" class="menu-item active">
                <i class="fas fa-home"></i>
                <span>Proyectos</span>
            </a>
            <a routerLink="tasks" class="menu-item">
                <i class="fas fa-chart-bar"></i>
                <span>Tareas</span>
            </a>

            <a routerLink="create_Subtasks" class="menu-item">
                <i class="fas fa-chart-bar"></i>
                <span>Sub-Tareas</span>
            </a>
        </nav>
    </aside>

    <div class="main-content">
        <header class="header">
            <button class="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <div class="search-bar">
                <h2>Bienvenido</h2>
            </div>

            <div class="user-menu">
                <div class="user-profile">
                    <div class="user-avatar">JK</div>
                    <div class="user-name">Juan Koch</div>
                </div>
            </div>
        </header>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

