<div class="form__wrapper">
    <form class="form form-task" [formGroup]="form" (submit)="editTask(task.id)">

        <div class="form-controls">
            <label for="">Titulo</label>
            <input type="text" formControlName="title">
            <div *ngIf="form.get('title').errors && form.get('title').touched" class="error__container">
                <p *ngIf="form.get('title').hasError('required')" class="error__message">
                    Es un campo requerido
                </p>

                <p *ngIf="form.get('title').hasError('maxlength')" class="error__message">
                    50 caracteres maximo
                </p>
            </div>
        </div>

        <div class="form-controls">
            <label for="">Descripcion</label>
            <textarea formControlName="description"></textarea>

            <div *ngIf="form.get('description').errors && form.get('description').touched" class="error__container">
                <p *ngIf="form.get('description').hasError('required')" class="error__message">
                    Es un campo requerido
                </p>

                <p *ngIf="form.get('description').hasError('maxlength')" class="error__message">
                    80 caracteres maximo
                </p>
            </div>
        </div>

        <div class="form-controls">
            <label >Status</label>
            <select formControlName="status">
                <option value="">Selecciona un status</option>
                <option value="Pendiente">Pendiente</option>
                <option value="En curso">En curso</option>
                <option value="Finalizada">Finalizada</option>

                <div *ngIf="form.get('status').errors && form.get('status').touched" class="error__container">
                    <p *ngIf="form.get('status').hasError('required')" class="error__message">
                        Es un campo requerido
                    </p>
                </div>
            </select>
        </div>

        <div class="form-controls">
            <label for="">Fecha de vencimiento</label>
            <input type="date" formControlName="dueDate">
            <div *ngIf="form.get('dueDate').errors && form.get('dueDate').touched" class="error__container">
                    <p *ngIf="form.get('dueDate').hasError('required')" class="error__message">
                        Es un campo requerido
                    </p>
            </div>
        </div>

        <div class="form-controls">
            <label >Proyecto</label>
            <select formControlName="idProject">
                <option value="">Sin proyecto</option>
                <option *ngFor="let item of projects" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn-crear">Actualizar</button>
        </div>
    </form>
</div>